@font-face {
  font-weight: 400;
  font-family: "Open Sans";

  src: url("../fonts/opensans.woff") format("woff"),
  url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";

  src: url("../fonts/opensansbold.woff") format("woff"),
  url("../fonts/opensansbold.woff2") format("woff2");
}
//
// FONTS VARIABLES
//
@font-family: "Open Sans", "Arial", sans-serif;
//
@color-1: @color-of-my-dads-heart-when-he-left-our-family;
@color-2: @x-color-grey;
@color-3: @x-color-green;
@color-4: @x-color-white;
//
@font-size-xs: 13px;
@font-size-s: 15px;
@font-size-m: 17px;
@font-size-l: 19px;
@font-size-xl: 27px;
//
@line-height-xs: 16px;
@line-height-s: 18px;
@line-height-m: 20px;
@line-height-l: 24px;
@line-height-xl: 30px;
//
// FONTS MIXINS
//
.title-font() {
  font-weight: 700;
  font-size: @font-size-xl;
  line-height: @line-height-xl;
  font-family: @font-family;
  color: @color-1;

  .text-reset();
}

.btn-font() {
  font-weight: 700;
  font-size: @font-size-m;
  line-height: @line-height-m;
  font-family: @font-family;
  color: @color-2;
  text-transform: uppercase;
}

.paragraph-font() {
  font-weight: 400;
  font-size: @font-size-s;
  line-height: @line-height-xl;
  font-family: @font-family;
  color: @color-2;

  .text-reset();
}

.paragraph-font--small() {
  font-weight: 400;
  font-size: @font-size-xs;
  line-height: @line-height-l;
  font-family: @font-family;
  color: @color-2;

  .text-reset();
}

// .font-1() {
//   font-weight: 700;
//   font-size: 17px;
//   line-height: 24px;
//   font-family: @font-family;
//   color: #000000;
// }

// .section-title-font() {
//   font-family: @font-family;
//   font-size: 27px;
//   font-weight: 700;
//   line-height: 30px;
//   color: #010000;
// }

// .regular-font() {
//   font-family: @font-family;
//   font-size: 15px;
//   font-weight: 400;
//   line-height: 24px;
//   color: #444444;
// }



// // ГЛАВНАЯ

// .nav-font() {
//   color: #000000;
//   font-family: @font-family;
//   font-size: 17px;
//   font-weight: 700;
//   line-height: 24px;
// }


// // .catalog-preview-btn-font
// .font-1() {
//   color: #ffffff;
//   font-family: "Open Sans";
//   font-size: 19px;
//   font-weight: 700;
//   line-height: 24px;
// }

// .about-font() {
//   color: #000000;
//   font-family: "Open Sans";
//   font-size: 17px;
//   font-weight: 700;
//   line-height: 20px;
// }

// Цена
// color: #444444;
// font-family: "Open Sans";
// font-size: 17px;
// font-weight: 700;
// line-height: 24px;

// контакты
// color: #444444;
// font-family: "Open Sans";
// font-size: 15px;
// font-weight: 400;
// line-height: 30px;

// копирайт
// color: #000000;
// font-family: "Open Sans";
// font-size: 19px;
// font-weight: 700;
// line-height: 18px;

// НА ЗАКАЗ
// описание сверху

// color: #444444;
// font-family: "Open Sans";
// font-size: 13px;
// font-weight: 400;
// line-height: 24px;

// радио и чекбоксы
// color: #000000;
// font-family: "Open Sans";
// font-size: 17px;
// font-weight: 700;
// line-height: 18px;

// плейсхолдеры
// opacity: 0.3;
// color: #444444;
// font-family: "Open Sans";
// font-size: 17px;
// font-weight: 400;
// line-height: 18px;

// заголовки филдсетов
// color: #63d1bb;
// font-family: "Open Sans";
// font-size: 17px;
// font-weight: 700;
// line-height: 16px;
// text-transform: uppercase;

// КАТАЛОГ

// название товара
// color: #000000;
// font-family: "Open Sans";
// font-size: 17px;
// font-weight: 700;
// line-height: 24px;

// описание товара
// color: #444444;
// font-family: "Open Sans";
// font-size: 13px;
// font-weight: 400;
// line-height: 30px;

// цена товара
// color: #000000;
// font-family: "Open Sans";
// font-size: 15px;
// font-weight: 700;
// line-height: 24px;

// процесс производства
// color: #000000;
// font-family: "Open Sans";
// font-size: 17px;
// font-weight: 700;
// line-height: 24px;

// описание производства
// color: #444444;
// font-family: "Open Sans";
// font-size: 13px;
// font-weight: 400;
// line-height: 24px;
