// SCREEN WIDTH
@mobile-only-width: ~"(max-width: 767px)";
@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1150px)";


// COLORS
//
@color-of-my-dads-heart-when-he-left-our-family: #000000;
@x-color-grey: #444444;
@x-color-green: #63d1bb;
@x-color-white: #ffffff;
@x-color-grey-1: #f1f1f1;
@x-color-grey-2: #f2f2f2;
@x-color-grey-3: #f9f9f9;
@x-color-grey-4: #ececec;
//
@bg-color-1: @x-color-white;
@bg-color-2: @x-color-grey-1;
@bg-color-3: @x-color-grey-2;
@bg-color-4: @x-color-grey-3;
@bg-color-5: @x-color-grey-4;
@bg-color-6: @x-color-green;
@bg-color-7: @x-color-grey;
//
@color-1: @color-of-my-dads-heart-when-he-left-our-family;
@color-2: @x-color-grey;
@color-3: @x-color-green;
@color-4: @x-color-white;
//

