.about {
  width: 100%;

  background-color: @bg-color-1;
}

.about__title {
  .title-font();
}

.about__list {
  font-weight: 700;
  font-size: @font-size-m;
  line-height: @line-height-m;
  font-family: @font-family;
  color: @color-1;

  .list-reset();
}
