.btn {
  display: inline-block;
  width: 260px;
  min-height: 52px;
  padding: 12px 10px;

  vertical-align: middle;
  text-align: center;

  border: 2px solid @color-2;

  .btn-font();
  @media @tablet-width {
    padding: 15px 10px;
  }
}
