.catalog-item {
  width: 260px;
  min-height: 372px;
  margin-bottom: 30px;

  font-family: @font-family;

  background-color: @bg-color-1;
  @media @tablet-width {
    display: flex;
    width: 667px;
    min-height: 334px;
    margin-bottom: 54px;
  }
  @media @desktop-width {
    display: block;
    width: 316px;
    min-height: 659px;
  }
}

.catalog-item__container {
  min-height: 179px;
  padding: 25px 28px 0 28px;

  border: 1px solid #eeeeee;
  @media @tablet-width {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  @media @desktop-width {
    min-height: 197px;
  }
  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }
  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.catalog-item__title {
  position: relative;

  margin: 0;
  margin-bottom: 5px;

  font-weight: 700;
  font-size: @font-size-m;
  line-height: @line-height-l;
  color: @color-1;
  @media @tablet-width {
    font-size: @font-size-l;
    line-height: @line-height-l;
  }
}

.catalog-item__img {
  width: 260px;
  height: 195px;
  img {
    display: block;
  }
  @media @tablet-width {
    flex-shrink: 0;
    width: 334px;
    height: 334px;
  }
  @media @desktop-width {
    width: 316px;
    height: 462px;
  }
}

.catalog-item__desc {
  display: block;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: @font-size-xs;
  line-height: @line-height-xl;
  color: @color-2;
  @media @tablet-width {
    margin-bottom: auto;

    font-size: @font-size-s;
  }
}

.catalog-item__buy {
  position: relative;

  min-height: 70px;
  padding: 20px 30px 25px 0;

  border-top: 1px solid #eeeeee;
  @media @tablet-width {
    padding-top: 23px;
    padding-left: 5px;
  }
  @media @desktop-width {
    padding-top: 25px;
    padding-left: 0;
  }
}

.catalog-item__price {
  font-weight: 700;
  font-size: @font-size-s;
  line-height: @line-height-l;
  color: @color-1;
  @media @tablet-width {
    font-size: @font-size-m;
  }
}

.catalog-item a {
  color: inherit;
}

.catalog-item__buy-btn {
  position: absolute;
  top: 21px;
  right: 0;
  // .v-hidden(); /* Временно */

  background: transparent;
  border: none;
  &:hover .catalog-item__buy-btn-icon {
    fill: @color-3;
  }
  &:active .catalog-item__buy-btn-icon {
    fill: fade(@color-3, 50%);
  }
}



.catalog-item__buy-btn-icon {
  fill: fade(@color-1, 20%);
}

.catalog-item__buy-btn span {
  .v-hidden();
}
