.catalog {
  width: 100%;

  font-family: @font-family;

  background-color: @bg-color-1;
}

.catalog__wrapper {
  width: 320px;
  margin: 0 auto;
  @media @tablet-width {
    width: auto;
  }
  &--title {
    width: auto;

    background-color: @bg-color-2;
    @media @tablet-width {
      position: relative;

      margin-bottom: 53px;
    }
  }
  &--content {
    padding: 30px 30px 60px 30px;
    @media @tablet-width {
      width: 768px;
      padding: 20px 50px 63px 50px;
    }
    @media @desktop-width {
      width: 1150px;
      padding-top: 60px;
      padding-bottom: 108px;
    }
  }
}

.catalog__title {
  position: relative;

  min-height: 177px;
  margin: 0 auto;
  padding: 70px 40px 10px 40px;

  text-align: center;

  .title-font();
  @media @tablet-width {
    width: 768px;
    min-height: 230px;
    padding-top: 95px;
  }
  @media @desktop-width {
    width: 1150px;
    min-height: 270px;
  }
}

.catalog__wrapper--title::after {
  display: none;
  @media @tablet-width {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;

    display: block;
    width: 100%;
    height: 20px;

    background: url("../img/bg-zigzag-fill.svg") 2px 0 repeat-x;
    background-size: contain;
  }
  @media @desktop-width {
    height: 34px;
  }
}

.catalog__list {
  margin-bottom: 33px;
  @media @desktop-width {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
