.catalog-preview {
  width: 100%;
}

.catalog-preview .wrapper {
  background: @bg-color-1 url(../img/hero-mobile@1x.jpg) center 0 no-repeat;
}

.catalog-preview__title {
  min-height: 283px;
  padding: 65px 35px 10px 35px;

  text-align: center;

  .title-font();
}

.catalog-preview__list {
  font-weight: 700;
  font-size: @font-size-l;
  line-height: @line-height-l;
  font-family: @font-family;
  color: @color-4;

  background-color: #63d2bc;

  .list-reset();
}

.catalog-preview__link {
  color: inherit;
}
