.catalog-preview {
  width: 100%;

  font-family: @font-family;

  background: @bg-color-4 url("../img/hero-mobile@1x.jpg") 50% -20px no-repeat;
  background-size: 575px 373px;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
  @media (min-width: 768px) {
    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: 1150px 746px;
  }
  @media (min-width: 768px) and (min-resolution: 144dpi),
  (min-width: 768px) and (min-resolution: 1.5dppx) {
    background-image: url("../img/hero-desktop@2x.jpg");
  }
  @media @tablet-width {
    position: relative;

    margin-bottom: 47px;
  }
}

.catalog-preview::after {
  @media @tablet-width {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: 5;

    display: block;
    width: 100%;
    height: 24px;

    background: url("../img/bg-zigzag-fill.svg") 0 0 repeat-x;
    background-size: auto 100%;
  }
}

.catalog-preview__wrapper {
  width: 320px;
  min-height: 488px; /* для сетки */
  margin: 0 auto;
  padding: 0;
  @media @tablet-width {
    width: 768px;
    padding: 0 50px;
  }
  @media @desktop-width {
    width: 1150px;
    padding: 0 50px;
  }
}

.catalog-preview__title {
  min-height: 282px;
  margin: 0;
  padding: 70px 35px 20px 35px;

  text-align: center;

  .title-font();
  @media @tablet-width {
    min-height: 627px;
    padding: 150px 60px 20px 70px;
  }
  @media @desktop-width {
    padding: 152px 215px 20px 215px;
  }
}

.catalog-preview__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 700;
  font-size: 19px;
  line-height: @line-height-l;
  color: @color-4;
  @media @tablet-width {
    font-size: @font-size-l;
    line-height: @line-height-xl;
  }
}

.catalog-preview__item {
  flex-grow: 1;
  width: 320px;
}

.catalog-preview__link {
  position: relative;

  display: block;
  min-height: 103px;
  padding: 25px 150px 25px 30px;

  color: inherit;
  &:hover .catalog-preview__link-icon {
    fill-opacity: 0.7;
  }
  &:active .catalog-preview__link-icon {
    fill-opacity: 0.3;
  }
  &--interior {
    background-color: #63d1bb;
    &:hover,
    &:active {
      background-color: #59d5bc;
    }
  }
  &--toys {
    background-color: #56c3b2;
    &:hover,
    &:active {
      background-color: #46c1ae;
    }
  }
  @media @tablet-width {
    min-height: 115px;
    padding-left: 37px;
  }
  @media @desktop-width {
    padding-right: 320px;
  }
}

.catalog-preview__link-icon {
  position: absolute;

  fill: #149080;
  fill-opacity: 0.5;
  &--interior {
    top: 22px;
    right: 35px;
  }
  &--toys {
    top: 20px;
    right: 25px;
  }
}
