.catalog {
  width: 100%;

  font-family: @font-family;

  background-color: @bg-color-1;
}

.catalog__wrapper {
  width: 320px;
  margin: 0 auto;
  @media @tablet-width {
    width: auto;
  }
  &--title {
    background-color: @bg-color-2;
    @media @tablet-width {
      position: relative;
      margin-bottom: 65px;
    }
  }
  &--content {
    padding: 30px 30px 60px 30px;
    @media @tablet-width {
      width: 768px;
      padding: 20px 50px 63px 50px;
    }
    @media @desktop-width {
      width: 1150px;
      padding-top: 60px;
      padding-bottom: 108px;
    }
  }
}

.catalog__title {
  min-height: 177px;
  margin: 0 auto;
  padding: 70px 40px 10px 40px;

  text-align: center;

  .title-font();
  @media @tablet-width {
    width: 768px;
    min-height: 220px;
    padding-top: 95px;
  }
  @media @desktop-width {
    width: 1150px;
    min-height: 255px;
  }
}

.catalog__list {
  margin-bottom: 33px;
  @media @desktop-width {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
  }
}
