.contacts {
  width: 100%;

  font-family: @font-family;

  background-color: @bg-color-1;
}

.contacts__wrapper {
  width: 320px;
  margin: 0 auto;
  @media @tablet-width {
    width: 768px;
  }
  @media @desktop-width {
    width: 1150px;
  }
  &--main {
    padding-bottom: 39px;
    @media @tablet-width {
      position: relative;

      padding-bottom: 55px;
    }
    @media @desktop-width {
      padding-top: 70px;
      padding-bottom: 100px;
      padding-left: 225px;
    }
  }
  &--narrow-top {
    padding: 25px 30px 30px 29px;
    @media @tablet-width {
      padding: 55px 50px 55px 50px;
    }
    @media @desktop-width {
      width: 305px;
      margin: 0;
      margin-bottom: 80px;
      padding: 70px 0 0 0;
    }
  }
  &--narrow-bottom {
    padding: 0 30px;
    @media @desktop-width {
      width: 305px;
      margin: 0;
      padding-left: 3px;
    }
  }
  &--wide {
    margin-bottom: 39px;
    padding-top: 38px;
    @media @tablet-width {
      margin-bottom: 55px;
      padding-top: 0;
    }
    @media @desktop-width {
      position: absolute;
      top: 70px;
      right: 50px;

      width: 525px;
      height: 457px;
      margin: 0;
      padding: 0;
    }
  }
  &--inner {
    width: 100%;
    @media @tablet-width {
      display: flex;
    }
    @media @desktop-width {
      flex-wrap: wrap;
      width: 300px;
    }
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 27px;

  font-weight: 700;
  font-size: 18px;
  line-height: @line-height-xl;
  color: @color-1;
  @media @tablet-width {
    margin-bottom: 48px;

    .title-font();
  }
}

.contacts__email {
  display: flex;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 28px;

  .paragraph-font();
  a {
    border-bottom: 1px solid @bg-color-6;
    &:hover {
      color: @color-3;
    }
    &:active {
      color: fade(@color-3, 30%);

      border-bottom-color: fade(@bg-color-6, 10%);
    }
  }
  @media @tablet-width {
    width: 334px;
  }
}

.contacts__adress {
  display: flex;
  align-items: flex-start;
  margin: 0;

  .paragraph-font();
  @media @tablet-width {
    width: 334px;
  }
}

.contacts__type {
  flex-shrink: 0;
  margin-right: 32px;
  @media @tablet-width {
    margin-right: 25px;
  }
}


.contacts a {
  color: inherit;
}

.contacts__map-img {
  display: block;
}

.contacts__map {
  position: relative;
}

.contacts__map {
  width: 320px;
  height: 457px;

  background: url("../img/map-mobile@1x.jpg") 0 0 no-repeat;
  background-size: 320px 457px;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }
  @media (min-width: 768px) {
    background-image: url("../img/map-tablet@1x.jpg");
    background-size: 768px 457px;
  }
  @media (min-width: 768px) and (min-resolution: 144dpi),
  (min-width: 768px) and (min-resolution: 1.5dppx) {
    background-image: url("../img/map-tablet@2x.jpg");
  }
  @media (min-width: 1150px) {
    background-image: url("../img/map-desktop@1x.jpg");
    background-size: 525px 457px;
  }
  @media (min-width: 1150px) and (min-resolution: 144dpi),
  (min-width: 1150px) and (min-resolution: 1.5dppx) {
    background-image: url("../img/map-desktop@2x.jpg");
  }
  @media @tablet-width {
    width: 768px;
  }
  @media @desktop-width {
    width: 525px;
    height: 457px;
  }
}

.contacts__write-btn {
  display: block;
  margin: 0 auto;
  @media @tablet-width {
    width: 230px;
  }
  @media @desktop-width {
    margin: 0;
  }
}

.contacts__icon {
  display: none;
  @media @tablet-width {
    position: absolute;
    top: 41px;
    right: 51px;

    display: block;
  }
  @media @desktop-width {
    top: 128px;
    left: 113px;
  }
}

.contacts__map-icon {
  position: absolute;
  top: 167px;
  left: 123px;
  @media @tablet-width {
    top: 164px;
    left: 350px;
  }
  @media @desktop-width {
    left: 237px;
  }
}
