.contacts {
  width: 100%;

  background-color: @bg-color-1;
}

.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: @line-height-xl;
  font-family: @font-family;
  color: @color-1;
  .text-reset();
}

.contacts p {
  .paragraph-font();
}

.contacts a {
  color: inherit;
}
