.custom-order {
  width: 100%;

  font-family: @font-family;

  background-color: @bg-color-1;
}

.custom-order__wrapper {
  width: 320px;
  margin: 0 auto;
  &--content {
    padding: 21px 30px 0 30px;
  }

}


.custom-order__title {
  min-height: 177px;
  margin: 0;
  padding: 70px 30px 10px 30px;

  text-align: center;

  background-color: @bg-color-2;

  .title-font();
}

.custom-order__desc {
  margin: 0;

  .paragraph-font--small();
  margin-bottom: 24px;
}
