.custom-order-form {
  width: 100%;

  font-family: @font-family;

  background-color: @bg-color-1;
}

.custom-order-form__fieldset {
  margin-bottom: 10px;
  padding: 0;

  background-color: inherit;
  border: none;
  @media @tablet-width {
    display: flex;
    align-items: flex-start;
    width: 768px;
    margin: 0;
    margin: 0 auto;
    padding: 50px 50px 25px 50px;
    &--email {
      padding-top: 0;
      padding-bottom: 50px;
    }
  }
  @media @desktop-width {
    width: 1150px;
    &--name,
    &--phone,
    &--email {
      padding-right: 225px;
    }
  }
}


.custom-order-form__wrapper {
  @media @tablet-width {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media @desktop-width {
    justify-content: flex-start;
  }
}

.custom-order-form__wrapper-decorative {
  background-color: inherit;
  @media @tablet-width {
    width: auto;

    background-color: @bg-color-3;
  }
}

.custom-order-form__wrapper-submit {
  @media @tablet-width {
    width: 668px;
    margin: 0 auto;
  }
  @media @desktop-width {
    width: 700px;
    margin: 0 auto;
  }
}

.custom-order-form__container {
  @media @tablet-width {
    display: flex;
    flex-grow: 1;
    width: 100%;
    min-height: 55px;
    // &--name {
    //   // flex-grow: 1;
    // }
  }
}

.custom-order-form__legend {
  position: relative;

  margin: 0;
  margin-bottom: 23px;

  font-weight: 700;
  font-size: @font-size-m;
  line-height: @line-height-s;
  color: @color-3;
  text-transform: uppercase;

  background-color: inherit;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;

    display: block;
    height: 1px;

    background-color: @bg-color-6;
    transform: translateY(-50%);
    @media @tablet-width {
      display: none;
    }
  }
  span {
    position: relative;
    z-index: 5;

    padding-right: 25px;

    background-color: inherit;
  }
  &--name {
    margin-bottom: 26px;
  }
  &--phone,
  &--email {
    margin-bottom: 5px;
  }
  @media @tablet-width {
    flex-shrink: 0;
    width: 167px;
    margin: 0;
    padding-top: 19px;
    padding-right: 10px;
  }
  @media @desktop-width {
    width: 175px;
    padding-left: 64px;
  }
}

.custom-order-form__label {
  position: relative;

  display: block;

  font-weight: 700;
  font-size: @font-size-m;
  line-height: @line-height-s;
  color: @color-1;
  &--type,
  &--color {
    min-height: 61px;
    padding: 10px 15px 5px 61px;
  }
  &--type {
    @media @tablet-width {
      width: 500px;
    }
  }
  @media @tablet-width {
    font-size: 19px;
    line-height: 19px;
  }
}

.custom-order-form__label {
  cursor: pointer;
  @media @tablet-width {
    min-height: 76px;
    padding-top: 15px;
    padding-left: 82px;
  }
}

.custom-order-form__label--color {
  @media @tablet-width {
    width: 239px;
  }
  @media @desktop-width {
    margin-right: 25px;
  }
}

.custom-order-form__label--name {
  @media @tablet-width {
    margin-right: 40px;
    padding: 0;
    padding-top: 17px;
  }
}

.custom-order-form__label--type::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 39px;
  height: 39px;

  background-color: transparent;
  border: 2px solid @color-2;
  border-radius: 50%;
  @media @tablet-width {
    width: 52px;
    height: 52px;
  }
}

.custom-order-form__label--type::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 13px;

  display: none;
  width: 12px;
  height: 12px;

  background-color: #62d1ba;
  border-radius: 50%;
  @media @tablet-width {
    top: 16px;
    left: 16px;

    width: 21px;
    height: 21px;
  }
}

.custom-order-form__label--color::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;

  width: 40px;
  height: 40px;

  background-color: transparent;
  border: 2px solid @color-2;
  @media @tablet-width {
    top: 0;
    left: 1px;

    width: 54px;
    height: 52px;
  }
}

.custom-order-form__label--color::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 10px;

  display: none;
  width: 22px;
  height: 16px;

  background: transparent url("../img/icon-tick.svg") 0 0 no-repeat;
  background-size: cover;
  @media @tablet-width {
    top: 16px;
    left: 13px;

    width: 33px;
    height: 22px;
  }
}

.custom-order-form__radio:checked ~ .custom-order-form__label--type::after,
.custom-order-form__checkbox:checked ~ .custom-order-form__label--color::after {
  display: block;
}

.custom-order-form__label--type:hover::before,
.custom-order-form__label--color:hover::before {
  border-color: @color-3;
}

.custom-order-form__label--type:active::before,
.custom-order-form__label--color:active::before {
  border-color: fade(@color-2, 20%);
}

.custom-order-form ::-webkit-input-placeholder {
  font-weight: 400;
  font-size: @font-size-m;
  line-height: @line-height-s;
  color: fade(@color-2, 30%);
  @media @tablet-width {
    font-size: 19px;
    line-height: 19px;
  }
}

.custom-order-form__input-container {
  position: relative;

  flex-grow: 1;
}

.custom-order-form__input-icon {
  position: absolute;
  top: 10px;
  right: 7px;

  fill: fade(@color-1, 20%);
  &--email {
    top: 12px;

    transform: scale(1.4);
  }
}

.custom-order-form__email:focus ~ .custom-order-form__input-icon,
.custom-order-form__phone-number:focus ~ .custom-order-form__input-icon {
  fill: @color-3;
}


.custom-order-form__name,
.custom-order-form__phone-number,
.custom-order-form__email {
  width: 100%;
  margin-bottom: 25px;
  padding: 16px 10px 16px 18px;

  background-color: @bg-color-1;
  border: none;
  border-bottom: 2px solid @color-1;
  @media @tablet-width {
    display: block;
  }
}

.custom-order-form__phone-number,
.custom-order-form__email {
  @media @tablet-width {
    margin: 0;
    padding-top: 18px;
    padding-left: 18px;

    background-color: transparent;
  }
}

.custom-order-form__textarea {
  width: 100%;
  min-height: 140px;
  padding: 15px;

  background-color: @bg-color-1;
  border: 2px solid @color-2;
  @media @tablet-width {
    min-height: 145px;
  }
  @media @desktop-width {
    width: 700px;
  }
}

.custom-order-form__name,
.custom-order-form__phone-number,
.custom-order-form__email,
.custom-order-form__textarea {
  font-weight: 400;
  font-size: @font-size-m;
  line-height: @line-height-s;
  color: @color-2;

  outline: none;
  @media @tablet-width {
    font-size: 19px;
    line-height: 19px;
  }
}

.custom-order-form__name:focus,
.custom-order-form__phone-number:focus,
.custom-order-form__email:focus,
.custom-order-form__textarea:focus {
  border-color: @color-3;
}

.custom-order-form__note {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 14px;
  line-height: @line-height-xs;
  color: @color-2;

  .paragraph-font--small();
  @media @tablet-width {
    float: right;
    margin-top: 37px;
    margin-bottom: 0;
  }
}

.custom-order__submit-btn {
  background-color: @bg-color-1;
  @media @tablet-width {
    width: 229px;
    margin: 0;
    margin-top: 25px;
  }
}

.custom-order-form__radio,
.custom-order-form__checkbox {
  .v-hidden();
}
