.custom-order-form {
  width: 100%;

  font-family: @font-family;

  background-color: @bg-color-1;
}

.custom-order-form__fieldset {
  padding: 0;

  border: none;
}

.custom-order-form__legend {
  font-weight: 700;
  font-size: @font-size-m;
  line-height: @line-height-s;
  color: @color-3;
  text-transform: uppercase;
}

.custom-order-form__label {
  font-weight: 700;
  font-size: @font-size-m;
  line-height: @line-height-s;
  color: @color-1;
}

.custom-order-form ::-webkit-input-placeholder {
  font-weight: 400;
  font-size: @font-size-m;
  line-height: @line-height-s;
  color: fade(@color-2, 30%);
}

.custom-order-form__text,
.custom-order-form__phone-number,
.custom-order-form__email,
.custom-order-form__textarea {
  width: 100%;
}

.custom-order-form__note {
  font-weight: 400;
  font-size: 14px;
  line-height: @line-height-xs;
  color: @color-2;
}
