.main-nav {
  width: 100%;

  font-weight: 700;
  font-size: @font-size-m;
  line-height: @line-height-l;
  font-family: @font-family;
  color: @color-1;

  background-color: transparent;
}

.main-nav__toggler {
  .v-hidden();
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  min-height: 80px;
  margin: 0;
  padding: 0;

  list-style: none;
  @media @tablet-width {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 155px;
  }
}

.main-nav__item {
  display: none;

  &--index {
    display: block;
    width: 86px;
    height: 80px;
    margin: auto;
    @media @tablet-width {
      order: 0;
      width: 369px;
      height: 90px;
      margin: 0;

      border-right: 1px solid @bg-color-5;
      border-bottom: 1px solid @bg-color-5;
    }
    @media @desktop-width {
      display: block;
      order: 2;
      width: 251px;
      height: 90px;
    }
  }
  &--search {
    @media @tablet-width {
      display: block;
      order: 1;
      width: 85px;
      height: 90px;

      border-right: 1px solid @bg-color-5;
      border-bottom: 1px solid @bg-color-5;
      span {
        .v-hidden();
      }
    }
    @media @desktop-width {
      display: block;
      order: 3;
    }
  }
  &--cart {
    @media @tablet-width {
      display: block;
      order: 2;
      width: 314px;
      height: 90px;
      padding-top: 31px;
      padding-right: 50px;

      text-align: right;

      border-bottom: 1px solid @bg-color-5;
    }
    @media @desktop-width {
      display: block;
      order: 4;
    }
  }
  &--catalog {
    @media @tablet-width {
      display: block;
      order: 3;
      width: 217px;
      height: 65px;
      padding-top: 17px;
      padding-left: 50px;

      font-size: @font-size-s;
      line-height: @line-height-l;
      // background-color: @bg-color-4;
    }
    @media @desktop-width {
      display: block;
      order: 0;
      width: 235px;
      height: 90px;
      padding-top: 31px;

      font-size: @font-size-m;

      border-right: 1px solid @bg-color-5;
      border-bottom: 1px solid @bg-color-5;
      // background-color: @bg-color-1;
    }
  }
  &--custom-order {
    @media @tablet-width {
      display: block;
      order: 4;
      width: 167px;
      height: 65px;
      padding-top: 16px;

      font-size: @font-size-s;
      line-height: @line-height-l;
      // background-color: @bg-color-4;
    }
    @media @desktop-width {
      display: block;
      order: 1;
      width: 265px;
      height: 90px;
      padding-top: 31px;
      padding-left: 36px;

      font-size: @font-size-m;

      border-bottom: 1px solid @bg-color-5;
      // background-color: @bg-color-1;
    }
  }
  &--new {
    display: none;
    @media @desktop-width {
      display: block;
      order: 5;
      width: 235px;
      height: 65px;
      padding-top: 16px;
      padding-left: 52px;

      font-size: @font-size-s;
      // background-color: @bg-color-4;
    }
  }
  &--sale {
    display: none;
    @media @desktop-width {
      display: block;
      order: 6;
      width: 185px;
      height: 65px;
      padding-top: 16px;
      padding-left: 36px;

      font-size: @font-size-s;
      // background-color: @bg-color-4;
    }
  }
  &--info {
    display: none;
    @media @tablet-width {
      display: block;
      flex-grow: 1;
      flex-shrink: 0;
      order: 10;
      width: 315px;
      height: 65px;
      margin-left: auto;
      padding-top: 15px;
      padding-right: 50px;
      padding-left: 48px;
      padding-left: 50px;

      font-weight: 400;
      font-size: @font-size-s;
      line-height: @line-height-l;
      text-align: right;
      color: @color-2;
      // background-color: @bg-color-4;
    }
  }
  &--mobile {
    @media (min-width: 320px) and (max-width: 768px) {
      display: block;
      // display: none;
      min-height: 80px;
      padding: 30px 40px 30px 75px;

      border-top: 1px solid @bg-color-5;
    }
  }
}

.main-nav__link {
  color: inherit;
}
