.main-nav {
  position: relative;

  width: 100%;

  font-weight: 700;
  font-size: @font-size-m;
  line-height: @line-height-l;
  font-family: @font-family;
  color: @color-1;

  background-color: transparent;
  @media @mobile-only-width {
    background-color: @bg-color-1;
  }
}

.main-nav--opened {
  @media @mobile-only-width {
    height: 79px;
  }
}

.main-nav--opened .main-nav__item {
  @media @mobile-only-width {
    &--catalog,
    &--custom-order,
    &--search,
    &--cart {
      display: block;
      margin: 0;
      padding: 0;
      // min-height: 80px;
      // padding: 27.5px 40px 27.5px 75px;
      // background-color: @bg-color-1;
      // border-bottom: 1px solid @bg-color-5;
    }
    &--index {
      // display: flex;
      // justify-content: center;
      // align-items: center;
    }
  }
}

.main-nav--opened .main-nav__link {
  @media @mobile-only-width {
    &--catalog,
    &--custom-order,
    &--search,
    &--cart {
      display: block;
      min-height: 80px;
      padding: 27.5px 40px 27.5px 75px;

      background-color: @bg-color-1;
      border-bottom: 1px solid @bg-color-5;
    }
  }
}

.main-nav__link {
  &:hover:not(.main-nav__link--active) {
    color: fade(@color-1, 60%);
  }
  &:hover:not(.main-nav__link--active) .main-nav__link-icon {
    fill: @color-3;
  }
  &:active:not(.main-nav__link--active) .main-nav__link-icon {
    fill: fade(@color-3, 50%);
  }
  &:active:not(.main-nav__link--active) {
    color: fade(@color-1, 30%);
  }
  &--index {
    &:hover:not(.main-nav__link--active) {
      opacity: 0.6;
    }
    &:active:not(.main-nav__link--active) {
      opacity: 0.3;
    }
  }
}
.main-nav__link-icon {
  fill: fade(#231f20, 20%);
}

.main-nav__toggler {
  display: none;
  @media @mobile-only-width {
    position: absolute;
    top: 32px;
    right: 31px;
    z-index: 5;

    display: block;
    width: 20px;
    height: 20px;

    font-size: 0;

    background: white url(../img/icons.svg#icon-menu-open) 0 0 no-repeat;
    // background-color: transparent;
    border: none;
    cursor: pointer;
  }
}


.main-nav--closed .main-nav__toggler-icon {
  position: absolute;
  top: 0;
  left: 0;
  &--closed {
    display: block;
  }
  &--opened {
    display: none;
  }
}

.main-nav--opened .main-nav__toggler-icon {
  position: absolute;
  top: 0;
  left: 0;
  &--closed {
    display: none;
  }
  &--opened {
    display: block;
  }
}


// .main-nav--closed .main-nav__toggler::before {
//   content: "";
//   position: absolute;
//   top: 2px;
//   left: 0;

//   width: 20px;
//   height: 2px;

//   background-color: #1d1919;
//   box-shadow: 0 6px 0 0 #1d1919,
//   0 12px 0 0 #1d1919;
// }

// .main-nav--opened .main-nav__toggler {
//   &::before,
//   &::after {
//     content: "";
//     position: absolute;
//     top: 8px;
//     left: -4px;

//     width: 28px;
//     height: 2px;

//     background-color: #1d1919;
//   }
//   &::before {
//     box-shadow: none;
//     transform: rotate(45deg);
//   }
//   &::after {
//     transform: rotate(-45deg);
//   }
// }


.main-nav__list {
  display: flex;
  flex-direction: column;
  min-height: 80px;
  margin: 0;
  padding: 0;

  list-style: none;
  @media @tablet-width {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 155px;
  }
}




.main-nav__item {
  display: none;
  &--index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    @media @tablet-width {
      justify-content: flex-start;
      order: 0;
      width: 373px;
      height: 90px;
      margin: 0;
      padding-left: 50px;

      border-right: 1px solid @bg-color-5;
      border-bottom: 1px solid @bg-color-5;
    }
    @media @desktop-width {
      order: 2;
      width: 251px;
      height: 90px;
      padding-left: 0;
    }
  }
  &--search {
    @media @tablet-width {
      display: block;
      order: 1;
      width: 83px;
      height: 90px;

      border-right: 1px solid @bg-color-5;
      border-bottom: 1px solid @bg-color-5;
      span {
        .v-hidden();
      }
    }
    @media @desktop-width {
      display: block;
      order: 3;
    }
  }
  &--cart {
    @media @tablet-width {
      display: block;
      order: 2;
      width: 310px;
      height: 90px;
      // padding-top: 31px;
      // padding-right: 50px;

      text-align: right;

      border-bottom: 1px solid @bg-color-5;
    }
    @media @desktop-width {
      display: block;
      order: 4;
    }
  }
  &--catalog {
    @media @tablet-width {
      display: block;
      order: 3;
      width: 217px;
      height: 65px;
      padding-top: 17px;
      padding-left: 50px;

      font-size: @font-size-s;
      line-height: @line-height-l;
    }
    @media @desktop-width {
      display: block;
      order: 0;
      width: 235px;
      height: 90px;
      padding-top: 31px;

      font-size: @font-size-m;

      border-right: 1px solid @bg-color-5;
      border-bottom: 1px solid @bg-color-5;
    }
  }
  &--custom-order {
    @media @tablet-width {
      display: block;
      order: 4;
      width: 167px;
      height: 65px;
      padding-top: 16px;

      font-size: @font-size-s;
      line-height: @line-height-l;
    }
    @media @desktop-width {
      display: block;
      order: 1;
      width: 265px;
      height: 90px;
      padding-top: 31px;
      padding-left: 36px;

      font-size: @font-size-m;

      border-bottom: 1px solid @bg-color-5;
    }
  }
  &--new {
    display: none;
    @media @desktop-width {
      display: block;
      order: 5;
      width: 235px;
      height: 65px;
      padding-top: 16px;
      padding-left: 52px;

      font-size: @font-size-s;
    }
  }
  &--sale {
    display: none;
    @media @desktop-width {
      display: block;
      order: 6;
      width: 185px;
      height: 65px;
      padding-top: 16px;
      padding-left: 36px;

      font-size: @font-size-s;
    }
  }
  &--info {
    display: none;
    @media @tablet-width {
      display: block;
      flex-grow: 1;
      flex-shrink: 0;
      order: 10;
      width: 315px;
      height: 65px;
      margin-left: auto;
      padding: 15px 50px 48px 50px;

      font-weight: 400;
      font-size: @font-size-s;
      line-height: @line-height-l;
      text-align: right;
      color: @color-2;
    }
  }
}



.main-nav__link {
  position: relative;

  color: inherit;
  @media @tablet-width {
    display: block;
    &--search {
      width: 82px;
      height: 89px;
    }
    &--cart {
      display: block;
      width: 310px;
      height: 89px;
      padding-top: 30px;
      padding-right: 46px;
    }
  }
}

.main-nav__link-icon {
  position: absolute;
  top: 30px;
  left: 32px;

  color: inherit;
  @media @tablet-width {
    top: 35px;
  }
}
