.modal-order {
  width: 100%;

  background-color: @bg-color-1;
}

.modal-order__title {
  font-weight: 700;
  font-size: 25px;
  line-height: @line-height-xl;
  font-family: @font-family;
  color: @color-1;
  text-transform: uppercase;

  .text-reset();
}
