.modal-order {
  width: 100%;

  font-family: @font-family;

  background-color: @bg-color-1;
}

.modal-order__title {
  margin: 0;

  font-weight: 700;
  font-size: 25px;
  line-height: @line-height-xl;
  color: @color-1;
  text-transform: uppercase;
}
