
.page-header {
  width: 100%;

  font-weight: 700;
  font-size: @font-size-m;
  line-height: @line-height-l;
  font-family: @font-family;
  color: @color-1;

  background-color: transparent;
  border-bottom: 1px solid #ededed;
  @media @mobile-only-width {
    position: relative;
    z-index: 10;
  }
  @media @tablet-width {
    position: relative;
    z-index: 5;

    margin-bottom: -65px;

    border: none;
  }
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
  @media @tablet-width {
    width: 768px;
    min-height: 155px;
    padding: 0;
  }
  @media @desktop-width {
    width: 1150px;
    padding: 0;
  }
}

.page-header__title {
  .v-hidden();
}
