.page-body {
  font-weight: 400;
  font-size: @font-size-s;
  line-height: @line-height-l;
  font-family: @font-family;
  color: @color-2;
  font-style: normal;

  background: @bg-color-1;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}
