.page-body {
  font-weight: 400;
  font-size: @font-size-s;
  line-height: @line-height-l;
  font-family: @font-family;
  color: @color-2;

  background-color: @bg-color-1;
}

a {
  text-decoration: none;
}
