.page-body {
  font-weight: 400;
  font-size: @font-size-s;
  line-height: @line-height-l;
  font-family: @font-family;
  color: @color-2;
  font-style: normal;

  background: @bg-color-1 url(../1layout/mishka-form-mobile.jpg) 50% 0 no-repeat;
  background-size: 320 auto;

  @media @tablet-width {
    background: @bg-color-1 url(../1layout/mishka-form-tablet.jpg) 50% 0 no-repeat;
    background-size: 768 auto;
  }

  @media @desktop-width {
    background: @bg-color-1 url(../1layout/mishka-form-desktop.jpg) 50% 0 no-repeat;
    background-size: 1250 auto;
  }
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}
