.page-footer {
  width: 100%;

  background-color: @bg-color-3;
}

.page-footer__copyright {
  font-weight: 700;
  font-size: @font-size-m;
  line-height: @line-height-l;
  font-family: @font-family;
  color: @color-1;

  .text-reset();
}
