
.page-header {
  width: 100%;
  min-height: 79px;

  font-weight: 700;
  font-size: @font-size-m;
  line-height: @line-height-l;
  font-family: @font-family;
  color: @color-1;

  background-color: @bg-color-1;
}

.page-header__title {
  .v-hidden();
}

.page-header__logo {
  width: 86px;
  height: 35px;
  margin: 0 auto;
}
