.production {
  width: 100%;

  font-family: @font-family;

  background-color: @bg-color-1;
}

.production__title {
  margin: 0;

  font-weight: 700;
  font-size: @font-size-m;
  line-height: @line-height-l;
  color: @color-1;
}

.production__desc {
  margin: 0;

  .paragraph-font--small();
}
